@model ListViewModel

@if(Model.Unordered) {
    <div class="esh-catalog-items">
        <ul class="@Model.ListClass">
            @foreach (var item in Model.Items)
            { 
                <li class="@Model.ListItemClass">@Model.ItemTemplate(item)</li>
            }
        </ul>
    </div>
} else
{
    <div class="esh-catalog-items">
        <ol class="@Model.ListClass">
        @foreach (var item in Model.Items)
        {
            <li class="@Model.ListItemClass">
                @Model.ItemTemplate(item)
            </li>
        }
        </ol>
    </div>
}